<%= simple_form_for(@pedido, html: { class: "container-fluid page-inner", style: "margin-top: 20px;" }) do |f| %>
  <!-- Cabeçalho do formulário -->
  <div class="page-header p-3 mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Botão de Voltar e Título -->
      <div class="d-flex align-items-center">
        <%= link_to pedidos_path, class: "btn btn-light d-flex align-items-center me-3" do %>
          <i class="fas fa-arrow-left me-2"></i> <!-- Ícone de Voltar -->
          <%= t("common.back", default: "Voltar") %>
        <% end %>
      </div>
      <h1><%= t(".header", default: "Formulário de Pedido") %></h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <!-- Campos do formulário -->
      <div class="form-inputs">
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <%= f.label :user_id, "Cliente" %>
            <%= f.collection_select :user_id, User.all, :id, :nome, { prompt: "Selecione um cliente" }, { class: "form-control", style: "max-width: 100%;", title: "Informe o cliente" } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <%= f.label :produto_id, "Produto" %>
            <%= f.collection_select :produto_id, Produto.all, :id, :nome, { prompt: "Selecione um produto" }, { class: "form-control", style: "max-width: 100%;", title: "Informe o produto" } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <%= f.label :quantidade, "Quantidade" %>
            <%= f.input :quantidade, input_html: { class: "form-control", style: "max-width: 100%;", placeholder: "Quantidade", title: "Informe a quantidade" } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <%= f.label :total, "Total" %>
            <%= f.input :total, input_html: { class: "form-control", style: "max-width: 100%;", placeholder: "Total", title: "Informe o valor total" }, step: "0.01" %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <%= f.label :status, "Status" %>
            <%= f.input :status, input_html: { class: "form-control", style: "max-width: 100%;", placeholder: "Status", title: "Informe o status" } %>
          </div>
        </div>
      </div>
    </div>
    <!-- Rodapé com botões -->
    <div class="card-footer d-flex justify-content-between">
      <%= f.submit t(".save", default: "Salvar"), class: "btn btn-primary" %>
      <%= link_to t("common.back", default: "Voltar"), pedidos_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
