<p style="color: green"><%= notice %></p>

<%= render @users_estabelecimento %>

<div>
  <%= link_to "Edit this users estabelecimento", edit_users_estabelecimento_path(@users_estabelecimento) %> |
  <%= link_to "Back to users estabelecimentos", users_estabelecimentos_path %>

  <%= button_to "Destroy this users estabelecimento", @users_estabelecimento, method: :delete %>
</div>
