<div class="container-fluid" style="margin-top: 100px;">
  <p style="color: green"><%= notice %></p>
  <!-- Título da Página com ícone de Voltar e Botão Incluir -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "btn btn-light btn-sm me-3" do %>
        <i class="fa fa-arrow-left"></i> <!-- Ícone de Voltar -->
      <% end %>
      <h1 class="mb-0"><%= t("common.categoria_produtos", default: "Categoria produtos") %></h1>
    </div>
    <!-- Botão para Criar Novo Categoria produto -->
    <%= link_to new_categoria_produto_path, class: "btn btn-incluir d-flex align-items-center" do %>
      <i class="fa fa-plus me-2"></i> <%= t("common.new_categoria_produto", default: "Incluir") %>
    <% end %>
  </div>
  <!-- Tabela de Categoria produtos sem rolagem -->
  <table id="categoria_produtosTable" class="table table-striped table-hover display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="text-center"><%= t("common.actions", default: "Ações") %></th>
        <th><%= t("activerecord.attributes.categoria_produto.categoria", default: "Categoria") %></th>
        <th><%= t("activerecord.attributes.categoria_produto.produto", default: "Produto") %></th>
        <th><%= t("activerecord.attributes.categoria_produto.estabelecimento", default: "Estabelecimento") %></th>
        <!-- Adicionado o campo Estabelecimento -->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th class="text-center"><%= t("common.actions", default: "Ações") %></th>
        <th><%= t("activerecord.attributes.categoria_produto.categoria", default: "Categoria") %></th>
        <th><%= t("activerecord.attributes.categoria_produto.produto", default: "Produto") %></th>
        <th><%= t("activerecord.attributes.categoria_produto.estabelecimento", default: "Estabelecimento") %></th>
        <!-- Adicionado o campo Estabelecimento -->
      </tr>
    </tfoot>
    <tbody>
      <% @categoria_produtos.each do |categoria_produto| %>
        <tr>
          <td class="text-center">
            <!-- Dropdown de Ações -->
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="acoesDropdown<%= categoria_produto.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="acoesDropdown<%= categoria_produto.id %>">
                <li><%= link_to t("common.show", default: "Ver"), categoria_produto, class: "dropdown-item" %></li>
                <li><%= link_to t("common.edit", default: "Editar"), edit_categoria_produto_path(categoria_produto), class: "dropdown-item" %></li>
                <li><%= link_to t("common.delete", default: "Excluir"), categoria_produto, method: :delete, data: { confirm: t("common.are_you_sure", default: "Tem certeza?") }, class: "dropdown-item text-danger" %></li>
              </ul>
            </div>
          </td>
          <td><%= categoria_produto.categoria.present? ? categoria_produto.categoria.nome : "Categoria não associada" %></td>
          <td><%= categoria_produto.produto.present? ? categoria_produto.produto.nome : "Produto não associado" %></td>
          <td><%= categoria_produto.estabelecimento.present? ? categoria_produto.estabelecimento.nome : "Estabelecimento não associado" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
