<p style="color: green"><%= notice %></p>

<%= render @categoria_produto %>

<div>
  <%= link_to "Edit this categoria produto", edit_categoria_produto_path(@categoria_produto) %> |
  <%= link_to "Back to categoria produtos", categoria_produtos_path %>

  <%= button_to "Destroy this categoria produto", @categoria_produto, method: :delete %>
</div>
