<!--

Botão para abrir o modal de filtros

-->
<%%= button_tag type: "button", class: "btn btn-info", data: { bs_toggle: "modal", bs_target: "##{singular_table_name}_filters_modal" } do %>
  <%%= tag.i(class: "ph-faders me-1") + t("common.filters") %>
  <%%= tag.span("(#{params[:q].keys.size})", class: "fw-bold ms-1") if params[:q] %>
<%% end %>
<!--

Link para limpar os filtros aplicados

-->
<%%= link_to tag.i(class: "ph-x-circle"), <%= plural_table_name %>_path, class: "btn btn-light" if params[:q] %>
<!--

Modal de Filtros

-->
<div class="modal fade" id="<%= singular_table_name %>_filters_modal" tabindex="-1" aria-labelledby="<%= singular_table_name %>_filters_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Cabeçalho do Modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="<%= singular_table_name %>_filters_modal_label"><%%= t("common.filters") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%%= t("common.close") %>"></button>
      </div>
      <!--
      
      Formulário de Pesquisa
      
      -->
      <%%= search_form_for @q, url: <%= plural_table_name %>_path, html: { class: "d-flex flex-column gap-3", autocomplete: "off" } do |f| %>
        <!--
        
        Corpo do Modal
        
        -->
        <div class="modal-body">
          <div class="row">
            <% attributes.each do |attribute| %>
              <div class="col-12 mb-3">
                <%%= f.label attribute.name, t("activerecord.attributes.<%= singular_table_name %>.#{attribute.name}"), class: "form-label" %>
                <%%= f.search_field attribute.name, class: "form-control" %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- 
        
        Modal footer
        
        -->
        <div class="modal-footer justify-content-start">
          <%%= f.submit t("common.apply_filters"), class: "btn btn-primary" %>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%%= t("common.back") %></button>
        </div>
      <%% end %>
    </div>
  </div>
</div>
