<%%= content_tag(:span, link_to(t("activerecord.models.<%= singular_table_name %>.other"), <%= plural_table_name %>_path, class: "text-dark"), class: "breadcrumb-item") %>
<%% end %>
<%%= simple_form_for(@<%= singular_table_name %>, url: "#", method: "get", html: { disabled: true }) do |f| %>
<%%= f.error_notification %>
<%%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<%%= render "shared/notice" %>
<div class="card">
  <div class="card-header">
    <h5 class="my-0">
      <%%= translate_concat("helpers.submit.#{params[:action]}", "activerecord.models.<%= singular_table_name %>.one") %>
    </h5>
  </div>
  <div class="card-body">
    <%%= render "<%= singular_table_name %>", f: f, disabled: true %>
  </div>
  <div class="card-footer">
    <%%= link_to content_tag(:i, "", class: "ph-pen me-1") + t("common.actions.edit"), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-secondary" %>
    <%%= link_to t("common.back"), <%= plural_table_name %>_path, class: "btn btn-light" %>
  </div>
</div>
<%% end %>
