<%= simple_form_for(@produto, html: { class: "container-fluid page-inner", style: "margin-top: 60px;", multipart: true }) do |f| %>
  <!-- Cabeçalho do formulário -->
  <div class="page-header p-3 mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Botão de Voltar e Título -->
      <div class="d-flex align-items-center">
        <%= link_to produtos_path, class: "btn btn-light d-flex align-items-center me-3" do %>
          <i class="fas fa-arrow-left me-2"></i> <!-- Ícone de Voltar -->
          <%= t("common.back", default: "Voltar") %>
        <% end %>
      </div>
      <h4><%= t(".header", default: "Produto Form") %></h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <!-- Campos do formulário -->
      <div class="form-inputs">
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <%= f.input :nome, input_html: { class: "form-control", placeholder: "Nome", title: "Informe nome" } %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :categoria_id, as: :select, collection: Categoria.all, label_method: :nome, value_method: :id, prompt: "Selecione uma categoria", input_html: { class: "form-control", title: "Informe categoria" } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <%= f.input :descricao, input_html: { class: "form-control", placeholder: "Descrição", title: "Informe descrição" } %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :imagem, as: :file, input_html: { class: "form-control", title: "Selecione uma imagem" } %>
            <% if @produto.imagem.attached? %>
              <div class="mt-2">
                <h5>Imagem Atual:</h5>
                <%= image_tag @produto.imagem.variant(resize: "300x300") %> <!-- Exibe a imagem em miniatura -->
              </div>
            <% end %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :preco_unitario, input_html: { class: "form-control", placeholder: "Preço unitário", title: "Informe preço unitário" } %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :preco_custo, input_html: { class: "form-control", placeholder: "Preço de custo", title: "Informe preço de custo" } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <%= f.input :estoque, input_html: { class: "form-control", placeholder: "Estoque", title: "Informe a quantidade no estoque" } %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end gap-2">
      <!-- Botões do formulário -->
      <%= link_to t("common.back", default: "Voltar"), produtos_path, class: "btn btn-secondary" %>
      <%= f.submit t(".save", default: "Salvar"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
