<%= simple_form_for(@produto, html: { class: "container-fluid page-inner", style: "margin-top: 20px;", multipart: true }) do |f| %>
  <!-- Cabeçalho do formulário -->
  <div class="page-header p-3 mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Botão de Voltar e Título -->
      <div class="d-flex align-items-center">
        <%= link_to produtos_path, class: "btn btn-light d-flex align-items-center me-3" do %>
          <i class="fas fa-arrow-left me-2"></i> <!-- Ícone de Voltar -->
          <%= t("common.back", default: "Voltar") %>
        <% end %>
      </div>
      <%= t(".header", default: "Produto Form") %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <!-- Campos do formulário -->
      <div class="form-inputs">
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <%= f.input :nome, input_html: { class: "form-control", style: "max-width: 100%;", placeholder: "Nome", title: "Informe nome" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <%= f.input :descricao, input_html: { class: "form-control", style: "max-width: 100%;", placeholder: "Descricao", title: "Informe descricao" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <%= f.input :preco_unitario, input_html: { class: "form-control", style: "max-width: 100%;", placeholder: "Preco unitario", title: "Informe preco unitario" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <%= f.input :preco_custo, input_html: { class: "form-control", style: "max-width: 100%;", placeholder: "Preco custo", title: "Informe preco custo" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <%= f.input :categoria_id, as: :select, collection: @categorias, label_method: :nome, value_method: :id, prompt: "Selecione uma categoria", input_html: { class: "form-control", style: "max-width: 100%;", title: "Informe categoria" } %>
            <%# <%= f.association :estabelecimento, collection: Estabelecimento.all, label_method: :nome, value_method: :id, prompt: "Selecione um estabelecimento", input_html: { class: "form-control", style: "max-width: 100%;", title: "Informe estabelecimento" } %> 
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <%= f.input :imagem, as: :file, input_html: { class: "form-control", title: "Selecione uma imagem" } %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <!-- Botões do formulário -->
      <%= f.submit t(".save", default: "Salvar"), class: "btn btn-primary" %>
      <%= link_to t("common.back", default: "Voltar"), produtos_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
