<%= content_tag(:span, link_to(t("activerecord.models.estabelecimento.other"), estabelecimentos_path, class: "text-dark"), class: "breadcrumb-item") %>
<% end %>
<%= simple_form_for(@estabelecimento, url: "#", method: "get", html: { disabled: true }) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<%= render "shared/notice" %>
<div class="card">
  <div class="card-header">
    <h5 class="my-0">
      <%= translate_concat("helpers.submit.#{params[:action]}", "activerecord.models.estabelecimento.one") %>
    </h5>
  </div>
  <div class="card-body">
    <%= render "estabelecimento", f: f, disabled: true %>
  </div>
  <div class="card-footer">
    <%= link_to content_tag(:i, "", class: "ph-pen me-1") + t("common.actions.edit"), edit_estabelecimento_path(@estabelecimento), class: "btn btn-secondary" %>
    <%= link_to t("common.back"), estabelecimentos_path, class: "btn btn-light" %>
  </div>
</div>
<% end %>
