<div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <div class="form-group <%= f.object.errors[:"<%= attribute.name %>"].present? ? 'has-error' : 'has-success' %>">
      <%= f.label :<%= attribute.name %>, class: "fw-bold" %>
      <%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, input_html: { class: "form-control", style: "max-width: 500px;" } %>
      <small class="form-text text-muted">
        <%= f.object.errors[:"<%= attribute.name %>"].join(', ') if f.object.errors[:"<%= attribute.name %>"].present? %>
      </small>
    </div>
  <%- end -%>
</div>
